@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300;400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    gap: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #444;
}

nav li {
    float: left;
}

nav li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

.contains-login::before {
    color: white;
    font-family: 'Material Symbols Outlined';
    content: '\ea77';
    padding-right: 10px;
}

.contains-logout::before {
    color: white;
    font-family: 'Material Symbols Outlined';
    content: '\e9ba';
    padding-right: 10px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 250px;
}

.card input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card a {
    color: #337ab7;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
